{{ activeDateIndex }} to {{ activeDateIndex + numDaysVisible }}
<div class="presentation-area" #presentationArea>
  <div class="prev-arrow" (click)="prevPage()" *ngIf="activeDateIndex > 0">
    Prev
  </div>
  <div class="next-arrow" (click)="nextPages()" *ngIf="activeDateIndex + numDaysVisible < seriesData.date.length">
    Next
  </div>
  <div
    class="heatmap-row heatmap-date-row"
    [ngStyle]="{ 'height': dimensions.dateRowHeight + 'px'}"
  >
    <div class="heatmap-cell empty" [ngStyle]="{ 'flex-basis': dimensions.nameCellWidth + 'px'}">
    </div>
    <div 
      class="heatmap-cell date" 
      [ngStyle]="{'flex-basis': dimensions.cellWidth + 'px'}"
      *ngFor="let date of seriesData.date | slice: activeDateIndex:activeDateIndex + numDaysVisible"
    >
      <div class="date-text">
      {{ date | calendarDay}}
      </div>
    </div>
  </div>

  <div 
    *ngFor="let marker of seriesData.markers; let i = index"
    class="heatmap-row" 
    (window:resize)="onResize($event)"
    [ngStyle]="{ 'height': dimensions.rowHeight + 'px'}"
  >
    <div class="heatmap-cell name" [ngStyle]="{ 'flex-basis': dimensions.nameCellWidth + 'px'}">
      {{ marker.name }}
    </div>
    <div 
      *ngFor="let measurement of marker.measurements | slice: activeDateIndex:activeDateIndex + numDaysVisible" 
      class="heatmap-cell value" 
      [ngClass]="{ 'yes-day': measurement === 'Yes', 'no-day': measurement === 'No' }"
      [ngStyle]="{ 'flex-basis': dimensions.cellWidth + 'px'}"
    >
      {{ measurement | json }}
    </div>
  </div>
</div>  
