.chart-parent-container{
    height: 700px;
    margin: 50px;
}
.chart-container{
    width: 100% !important;
    height: 100% !important;
}
.series-visibility, .trend-type{
    width: 50%;
}
.mat-button-toggle-group{
    overflow: visible;
}