<mat-tab-group>
    <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Activities">
        <app-all-activities
            [plan]="plan"
            [records]="records"
        >
        </app-all-activities>
    </mat-tab>
    <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Details">
        <app-activity-details
            [plan]="plan"
            [records]="records"
        >
        </app-activity-details>
    </mat-tab>
  </mat-tab-group>