<mat-card class="chart-parent-container">
  <div class="chart-container">
      <ngx-charts-bubble-chart
      [scheme]="colorScheme"
      [results]="filteredSeriesData"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [showGridLines] = "showGridLines"
      (select)="onSelect($event)">
      </ngx-charts-bubble-chart>
  </div>
</mat-card>    

<mat-card
  class="chart-controls-container"
  fxLayout
  fxLayoutAlign="space-between"
  fxLayoutGap="20px"
  >
    <mat-card 
        class="series-visibility"
    >
        <mat-card-title>Compare: </mat-card-title> 
        <div 
            class="select-series-container"
            fxLayout
            fxLayoutGap="40px"
        >
            
            <mat-select 
                [(ngModel)]="visibleSeries[0]"
                (selectionChange)="seriesVisibilityChanged($event)"
            >
                <mat-option 
                    *ngFor="let marker of plan.markers"    
                    value="{{ marker.name }}"
                    [disabled]="isDisabled(0, marker.name)"
                >
                    {{ marker.name }}
                </mat-option>
            </mat-select>
    
            <span class="select-series-spacer">   
                - with -
            </span>    
    
            <mat-select 
                [(ngModel)]="visibleSeries[1]"
                (selectionChange)="seriesVisibilityChanged($event)"
            >
                <mat-option 
                    *ngFor="let marker of plan.markers" 
                    value="{{ marker.name }}"
                    [disabled]="isDisabled(1, marker.name)"
                >
                    {{ marker.name }}
                </mat-option>
            </mat-select>
        </div>
    </mat-card> 
    <mat-card class="trend-type">
        <mat-card-title>Trend Type:</mat-card-title>
        <mat-button-toggle-group 
            [(ngModel)]="selectedTrendType"
            value="raw" 
            (change)="trendTypeChanged($event)"
        >
            <mat-button-toggle value="simpleComparison">
                Simple Comparison
                <app-tooltip 
                    [displayText]="tooltipText.chartTypeButtons.simpleComparison"
                    [id]="tooltipSimpleComparison"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="correlationProfile">
                Correlation Profile
                <app-tooltip 
                    [displayText]="tooltipText.chartTypeButtons.correlationProfile"
                    [id]="tooltipCorrelationProfile"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="bayesianAnalysis">
                Bayesian Anaylsis
                <app-tooltip 
                    [displayText]="tooltipText.chartTypeButtons.bayesianAnalysis"
                    [id]="tooltipBayesianAnalysis"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>

      </mat-button-toggle-group>
  </mat-card> 
</mat-card> 