@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Raleway, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);  

  $primary: mat-palette($mat-light-green, 600);
  $accent: mat-palette($mat-orange,200);
  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


