/* .ng-valid{
    border: 2px solid green;
}
.ng-invalid{
    border: 2px solid red;
} */
h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.custom-error-container{
    color: red;
    display: block
}

.create-activity-button{
    margin-top: 40px; 
    padding: 10px;
}
.custom-activity-title{
    text-align: center;
}
.datatype-button-title{
    font-size: 1.5em;
}
.datatype-button:hover{
    cursor: pointer;
    background-color: #E7E7E7;
}

.datatype-button.active{
    background-color: #EEE;
}

@media screen and (max-width: 700px) {
    mat-card{
        padding: 10px !important;
    }
    mat-card-title{
        font-size: 24px !important;
    }
    h2{
        font-size: 1em !important;
    }        
    mat-card mat-card-title{
        font-size: 0.9em !important;
    }
}    
@media screen and (max-width: 500px) {
    mat-card mat-card-title{
        font-size: 0.7em !important;
    }
}    