<mat-card 
  class="marker-card-container"
  fxLayout 
>
  <app-marker-card
    class="marker-card"
    [marker]="marker"
    fxFlex="200px" 
    fxFlex.xs="100%"
    *ngFor="let marker of plan.markers; let i = index;"
    fxLayoutGap="20px"
    (markerClicked)="setActiveMarker($event)"
    (click)="markerCardClicked($event)"
    [active]="marker.name === activeMarker.name"
    [hoverable]="true"
  >
  </app-marker-card>
</mat-card>

<!-- <br>
<h1>The activity {{ activeMarker.name }} relates to your other activities in the following ways: </h1> -->
<mat-card
  class="correlation-markers-container"
  fxLayout
  fxLayoutAlign="space-around"
>
  <mat-card
    class="correlation-marker-card"
    *ngFor="let otherMarker of otherMarkers; let i = index"  
  >
    <mat-card-title>{{ otherMarker.name }}</mat-card-title>
    <mat-card-content class="percent-correlation"  *ngIf="correlationCoefficients[i]">
    {{ (correlationCoefficients[i] * 100).toFixed(0) }}%
    </mat-card-content>

   
    <div class="chart-wrapper" *ngIf="correlationCoefficients[i]">
      <ngx-charts-pie-chart
        *ngIf="correlationCoefficients[i] >= 0"
        [results]="[{name: '', value: correlationCoefficients[i]}, {name: 'not', value: 1 - correlationCoefficients[i]}]"
        [scheme]="chartOptions.positive.scheme"
        [view]="chartOptions.positive.viewDoughnut"
        [doughnut]="true"
        [tooltipDisabled]="chartOptions.positive.tooltipDisabled"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>

      <ngx-charts-pie-chart
        *ngIf="correlationCoefficients[i] < 0"
        [results]="[{name: '', value: 1 + correlationCoefficients[i]}, {name: 'not', value: correlationCoefficients[i] * -1}]"
        [scheme]="chartOptions.negative.scheme"
        [view]="chartOptions.negative.viewDoughnut"
        [doughnut]="chartOptions.negative.doughnut"
        [tooltipDisabled]="chartOptions.negative.tooltipDisabled"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>
    </div>

    <mat-card
      *ngIf="correlationCoefficients[i]"
    >
      <i>{{ otherMarker.name }}</i> is <span class="strength">{{ correlationDescriptions.strengths[i] }}</span> related to {{ activeMarker.name }}
    </mat-card>
    
    <app-popover
      *ngIf="!correlationCoefficients[i]"
      [displayText]="popoverText"
    >

    </app-popover>

  </mat-card>
</mat-card>  