<div class="parent-container">
  <mat-card class="select-marker">
    <h1 class="subheader" *ngIf="plan.markers.length > 0">Select an activity from your plan:</h1>
    <mat-select [(value)]="activeMarker">
        <mat-option 
          *ngFor="let marker of plan.markers; let i = index;"
          (click)="setActiveMarker(marker)"
          [value]="marker"
        >
          {{ marker.name }}
        </mat-option>
    </mat-select>
  </mat-card>

  <mat-card class="correlation-details">
    <app-correlation-graph
      [correlations]="correlations"
    ></app-correlation-graph>
    <app-correlation-explanation
  
    ></app-correlation-explanation>
  </mat-card>
</div> 