.parent-container{
    display: flex;
    min-height: 1000px;
}
.select-marker{
    width: 500px;
}
mat-select{
    width: 150px;
    height: 25px;
    margin: 30px 10px 20px 30px;
    border: 1px solid #AAA;
    padding: 5px;
    padding-top: 8px;
}
.correlation-details{
    flex-grow: 2;
}
.select-marker, .correlation-details{
    margin: 20px;
    padding-top: 80px;
}
@media screen and (max-width: 1000px) {
    .parent-container{
        flex-direction: column;
    }    
    .select-marker, .correlation-details{
        width: 100%; 
    }
}    