.parent-container{
    display: flex;
    min-height: 1000px;
}
.select-marker{
    width: 500px;
}
mat-select{
    width: 150px;
    height: 25px;
    margin: 30px 10px 20px 30px;
    border: 1px solid #AAA;
    padding: 5px;
    padding-top: 8px;
    margin: 0 auto !important;
    display: flex !important;
}
.correlation-details{
    flex-grow: 2;
    margin-left: 0px !important;
}
.select-marker, .correlation-details{
    margin: 20px;
    padding-top: 75px;
}
.subheader{
    width: unset !important;  /* for the stupid subheader width set to 500px by angularMaterial */
}
@media screen and (max-width: 1400px) {
    .select-marker{
        width: 350px;
    }
}    
@media screen and (max-width: 1100px) {
    .parent-container{
        flex-direction: column;
    }    
    .select-marker, .correlation-details{
        width: 100%; 
        margin: 0px;
    }
}    
