<mat-card
  class="day"
  fxLayout="column"
  fxLayoutAlign="space-between"
  (click)="setActiveDate(record, date)"
  [ngClass]=
  "{'today' : index === 3, 
  'prev-day' : index === 2,
  'prev-prev-day' : index === 1,
  'prev-prev-prev-day' : index === 0,
  'next-day' : index === 4,
  'next-next-day' : index === 5,
  'next-next-next-day': index === 6,
  'current-day': isCurrentDay(date)}"
> 
  <h3>{{ date | calendarDay:date }}</h3>
  <mat-card
    class="record record-exists"
    fxLayout
    fxLayoutAlign="space-around"
  >
    <div class="record-checked-wrapper" fxLayou fxFlexAlign="center">
      <div class="record-checked"
      *ngIf="recordExistsForDay()">
      </div>
    </div>
  </mat-card>
</mat-card> 