.active-marker-card{
    height: 300px;
    margin-bottom: 20px;
    width: 200px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
}
@media screen and (max-width: 1000px) {
   .active-marker-card{
        width: 150px;
        height: 220px;
    }
}
@media screen and (max-width: 500px) {
    .active-marker-card{
        width: 115px;
        height: 200px;
    }
}    

.edit-marker-button{
    width: 100%;
}
    
.marker-icon{
   height: 50px;
   width: 50px;
   font-size: 50px;
   margin: 0 auto;
} 

.action-container{
    width: 100px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
}
mat-card-title{
    height: 45px;
    text-align: center;
    font-size: 1.4em;
}
.available-marker-card{
    justify-content: space-between;
}
mat-card-content{
    width: 300px;
    display: block;
    height: 100%;
}

.edit-settings{
    width: 300px;
}
@media screen and (max-width: 1000px) {
    mat-card{
        padding-left: 18px;
        padding-right: 18px;
    }
    mat-card-title{
        text-align: center;
        font-size: 1.2em;
     }  
}
@media screen and (max-width: 800px) {
    mat-card{
        padding-left: 15px;
        padding-right: 15px;
    }
    mat-card-title{
        font-size: 1.1em;
    }  
    .action-container{
        width: 70px;
    }
    .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child{
        margin-left: 6px !important;
    }
    /* mat-card-actions{
        width: 80% !important;
        margin-left: 10% !important;
    } */
}
@media screen and (max-width: 650px) {
    mat-card{
        padding-left: 10px;
        padding-right: 10px;
    }
    mat-card-title{
        font-size: 1.0em;
     }  
}