.header{
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 70px;
    margin-right: auto;
    font-size: 1.5em;
    color: #666;
    width: 500px;
    text-align: center;
    border-bottom: 2px solid #EEE;
    line-height: 1.7em;

}
.edit-plan-divider{
    padding-top: 10px;
}
.add-remove-markers{
    flex-wrap: wrap;
}
.active-markers{
    flex-wrap: wrap;
    padding-bottom: 0px;
}
.action-container{
    width: 100%;
}