.edit-plan-divider{
    padding-top: 10px;
}
.add-remove-markers{
    flex-wrap: wrap;
}
.marker-container{
    flex-wrap: wrap;
    padding-bottom: 0px;
}
.marker-container.active-markers{
    box-shadow: none !important;
    border-top: 5px solid rgba(137, 191, 41, 0.35);
    border-bottom: 5px solid rgba(137, 191, 41, 0.35);
}
.action-container{
    width: 100%;
}
.marker-category h1{
    /* width: 300px; */
    font-family: 'Roboto Slab';
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom: 2px solid rgba(137, 191, 41, 0.5);
    line-height: 2.2em;
    font-size: 1.7em;
    color: #666;
}
mat-select{
    width: 150px;
    height: 25px;
    margin: 30px 10px 20px 30px;
    border: 1px solid #AAA;
    padding: 5px;
    padding-top: 8px;
}
go-to-text{
    line-height: 30x;
}
@media screen and (max-width: 1000px) {
    .marker-container{
        justify-content: space-around !important;
    }
    app-active-marker-card{
        margin-right: 0px !important;
    }
    app-marker-card{
        margin-right: 0px !important;
    }    
    .category-header{
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .marker-container{
        padding: 5px !important;
    }
    .add-remove-markers{
        padding: 5px !important;
    }
}    