<mat-card>
  <mat-card-title></mat-card-title>
  <app-entry-form-boolean 
    *ngIf="marker.dataType === 'boolean'"
    [marker]="marker"
    (saveMeasurement)="saveNewMeasurement($event)"
  ></app-entry-form-boolean>
 
  <app-entry-form-scalar 
    *ngIf="marker.dataType === 'scalar'"
    [marker]="marker"
    (saveMeasurement)="saveNewMeasurement($event)"
  >
  </app-entry-form-scalar>

  <app-entry-form-range 
    *ngIf="marker.dataType === 'range'"
    [marker] = "marker"
    [initialValue] = "measurementPercentValue"
    (saveMeasurement)="saveNewMeasurement($event)"
  >
  </app-entry-form-range>
    <div class="scroll-to-details" (click)="scrollTo('record-marker-details')">go to details</div>
</mat-card>
