.graph-container{   

    display: flex;

}
.correlation-graph{
    width: 400px;
    margin-left: 400px;
    position: relative;
    height: 50px;
}
.correlation{
    position: absolute;
    left: 0px;
    transition: width 0.5s;
    z-index: 20;
}
.correlation-legend{
    width: 400px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.guideline{
    position: absolute;
    border-left: 1px dashed #AAA;
    height: 100%;
}
.strength-label{
    transform: rotate(90deg);
    padding-top: 105%;
    padding-left: 100px;
    width: 300px;
    color: #AAA;
    font-size: 0.8em;

}