.popover-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.popover{
    width: 80%;
    height: 200px;
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    align-items: center;
}