h1.active-date{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
app-record-entry, app-no-record{
    min-height: 400px;
}

@media screen and (max-width: 600px) {
    mat-card{
        padding-left: 0px;
        padding-right: 0px;
    }
}    