<mat-card class="chart-parent-container" *ngIf="activeDatatype === 'range'">
    <div class="chart-container">
        <ngx-charts-line-chart
            [scheme]="chartOptions.range.colorScheme"
            [results]="filteredSeriesData.range"
            [gradient]="chartOptions.range.gradient"
            [xAxis]="chartOptions.range.showXAxis"
            [yAxis]="chartOptions.range.showYAxis"
            [yScaleMin]="chartOptions.range.yScaleMin"
            [yScaleMax]="chartOptions.range.yScaleMax"
            [legend]="chartOptions.range.showLegend"
            [showXAxisLabel]="chartOptions.range.showXAxisLabel"
            [showYAxisLabel]="chartOptions.range.showYAxisLabel"
            [xAxisLabel]="chartOptions.range.xAxisLabel"
            [yAxisLabel]="chartOptions.range.yAxisLabel"
            [timeline]="chartOptions.range.timeline"
            [curve]="curve"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
</mat-card>    

<mat-card class="chart-parent-container" *ngIf="activeDatatype === 'boolean'">
    <div class="chart-container">
        <ngx-charts-heat-map
            [results]="filteredSeriesData.boolean"
            [gradient]="chartOptions.boolean.gradient"
            [xAxis]="chartOptions.boolean.showXAxis"
            [yAxis]="chartOptions.boolean.showYAxis"
            [legend]="chartOptions.boolean.showLegend"
            [showXAxisLabel]="chartOptions.boolean.showXAxisLabel"
            [showYAxisLabel]="chartOptions.boolean.showYAxisLabel"
            [xAxisLabel]="chartOptions.boolean.xAxisLabel"
            [yAxisLabel]="chartOptions.boolean.yAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-heat-map>
    </div>
</mat-card>   

<mat-card 
    class="chart-controls-container"
    fxLayout
    fxLayoutAlign="space-between"
    fxLayoutGap="20px"
    >
    {{ seriesState | json }}
    <mat-card class="series-visibility">

        <mat-card-title class="series-visibility-label">Visible Data:</mat-card-title>
        <mat-button-toggle-group 
            [(ngModel)]="seriesState"
            multiple 
            fxLayout="column"
            (change)="seriesVisibilityChanged($event)"
            class="visible-series-button-group"
        >
            <h2>Range Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'range'}"
                    class="material-button"
                    (click)="checkForNewDatatype(marker)"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

            <h2>Yes or No Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'boolean'}"
                    class="material-button"
                    (click)="checkForNewDatatype(marker)"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

            <h2>Value Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'scalar'}"
                    class="material-button"
                    (click)="checkForNewDatatype(marker)"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

        </mat-button-toggle-group>
    </mat-card> 
    <mat-card class="trend-type">
        <mat-card-title class="series-visibility-label">Trend Type:</mat-card-title>
        <mat-button-toggle-group 
            [(ngModel)]="selectedTrendType"
            value="raw" 
            (change)="trendTypeChanged($event)"
        >
            <mat-button-toggle value="raw">
                Raw Measurements
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.rawMeasurements"
                    [id]="tooltipRawMeasurements"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="movingAverage">
                Moving Average
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.movingAverage"
                    [id]="tooltipMovingAverage"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="globalAverage">
                Global Average
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.globalAverage"
                    [id]="tooltipGlobalAverage"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>

        </mat-button-toggle-group>
    </mat-card> 
</mat-card> 