<mat-card class="chart-parent-container">
    <div class="chart-container">
        <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="filteredSeriesData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            [curve]="curve"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
</mat-card>    

<mat-card 
    class="chart-controls-container"
    fxLayout
    fxLayoutAlign="space-between"
    fxLayoutGap="20px"
    >
    <mat-card class="series-visibility">
        <mat-card-title>Visible Data:</mat-card-title>
        <mat-button-toggle-group 
            value="{{[plan.markers[0].name]}}"  
            multiple 
            (change)="seriesVisibilityChanged($event)"
        >
            <mat-button-toggle value="{{marker.name}}" *ngFor="let marker of plan.markers">{{ marker.name }}</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card> 
    <mat-card class="trend-type">
        <mat-card-title>Trend Type:</mat-card-title>
        <mat-button-toggle-group 
            value="raw" 
            (change)="trendTypeChanged($event)"
    
        >
            <mat-button-toggle value="raw">Raw Measurements</mat-button-toggle>
            <mat-button-toggle value="movingAverage">Moving Average</mat-button-toggle>
            <mat-button-toggle value="globalAverage">Global Average</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card> 
</mat-card> 