<mat-card class="chart-parent-container" *ngIf="chartType === 'line'">
    <div class="chart-container">
        <ngx-charts-line-chart
            [scheme]="chartOptions.colorScheme"
            [results]="filteredSeriesData"
            [gradient]="chartOptions.gradient"
            [xAxis]="chartOptions.showXAxis"
            [yAxis]="chartOptions.showYAxis"
            [yScaleMin]="chartOptions.yScaleMin"
            [yScaleMax]="chartOptions.yScaleMax"
            [legend]="chartOptions.showLegend"
            [showXAxisLabel]="chartOptions.showXAxisLabel"
            [showYAxisLabel]="chartOptions.showYAxisLabel"
            [xAxisLabel]="chartOptions.xAxisLabel"
            [yAxisLabel]="chartOptions.yAxisLabel"
            [timeline]="chartOptions.timeline"
            [curve]="curve"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
</mat-card>    

<mat-card class="chart-parent-container" *ngIf="chartType === 'heatmap'">
    <div class="chart-container">
        
    </div>
</mat-card>   

<mat-card 
    class="chart-controls-container"
    fxLayout
    fxLayoutAlign="space-between"
    fxLayoutGap="20px"
    >
    <mat-card class="series-visibility">

        <mat-card-title class="series-visibility-label">Visible Data:</mat-card-title>
        <mat-button-toggle-group 
            [(ngModel)]="seriesState"
            multiple 
            fxLayout="column"
            (change)="seriesVisibilityChanged($event)"
        >
            <h2>Range Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'range'}"
                    class="material-button"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

            <h2>Yes or No Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'boolean'}"
                    class="material-button"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

            <h2>Value Activities</h2>
            <div class="button-group">   
                <mat-button-toggle 
                    value="{{marker.name}}" 
                    *ngFor="let marker of plan.markers"
                    [ngClass]="{'hidden': marker.dataType !== 'scalar'}"
                    class="material-button"
                >
                    {{ marker.name }}
                </mat-button-toggle>
            </div>    

        </mat-button-toggle-group>
    </mat-card> 
    <mat-card class="trend-type">
        <mat-card-title class="series-visibility-label">Trend Type:</mat-card-title>
        <mat-button-toggle-group 
            [(ngModel)]="selectedTrendType"
            value="raw" 
            (change)="trendTypeChanged($event)"
        >
            <mat-button-toggle value="raw">
                Raw Measurements
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.rawMeasurements"
                    [id]="tooltipRawMeasurements"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="movingAverage">
                Moving Average
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.movingAverage"
                    [id]="tooltipMovingAverage"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>
            
            <mat-button-toggle value="globalAverage">
                Global Average
                <app-tooltip 
                    [displayText]="tooltipText.trendTypeButtons.globalAverage"
                    [id]="tooltipGlobalAverage"
                    [type]="'description'"
                ></app-tooltip>
            </mat-button-toggle>

        </mat-button-toggle-group>
    </mat-card> 
</mat-card> 