
.footer-content-wrapper{
    height: 310px;
    padding-top: 50px;
    background-color: #DDD;
    display: flex;
    justify-content: space-around;
    color: #666;
    font-family: 'Raleway';
}
.footer-group{
    display: flex;
    flex-direction: column;
}
.footer-group h3{
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: bold;
}
.footer-group span{
    margin-bottom: 20px;
}
.footer-group a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.social-links{
    margin-top: 8px;
}
.social-link{
    margin-right:10px;
    width: 27px;
    height: 27px;
}
.social-link:hover{
    opacity: 0.7;
    cursor: pointer;
}
span:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    .footer-group h3{
        font-size: 16px;
    }
    .footer-group span{
        font-size: 13px;
    }
    .footer-content-wrapper{
        height: 300px;
    }    
}    
@media screen and (max-width: 750px) {
    .footer-content-wrapper{
        flex-direction: column;
        text-align: center;
        height: 740px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-group{
        width: 100%;
    }
    .social-links{
        padding-left: 10px;
    }
    .footer-group h3{
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .footer-group span{
        font-size: 18px;
        margin-bottom: 18px;
    }
    .social-links{
        margin-top: 15px;
    }
}    