<div class="footer-content-wrapper">
  <div class="footer-group">
    <h3>Navigation</h3>
    <span routerLink="/login">Login</span>
    <span routerLink="/signup">Register</span>
    <span routerLink="/subscribe">Subsscription</span>
  </div>
  <div class="footer-group">
    <h3>Service</h3>
    <span routerLink="/privacy">Privacy Policy</span>
    <span routerLink="/tos">Terms of Service </span>
     <span routerLink="/report">Report a Problem</span>
     <span routerLink="/feature">Feature Request</span>
     <span routerLink="/legal">Legal</span>
  </div>
  <div class="footer-group">
    <h3>Company</h3>
    <span routerLink="/about">About Habbit</span>
    <span routerLink="/mission">Mission</span>
    <span routerLink="/careers">Careers</span>
    <span routerLink="/contact">Contact</span>
    <div class="social-links">
      <img class="social-link" src="/assets/images/facebook.png">
      <img class="social-link" src="/assets/images/instagram.png">
      <img class="social-link" src="/assets/images/googleplus.png">
      <img class="social-link" src="/assets/images/pinterest.png">
      <img class="social-link" src="/assets/images/share.png">
    </div>
  </div>
</div>