<div class="footer-content-wrapper">
  <div class="footer-group">
    <h3>Navigation</h3>
    <a>Login</a>
    <a>Register</a>
    <a>Subsscription</a>
  </div>
  <div class="footer-group">
    <h3>Service</h3>
    <a>Privacy Policy</a>
    <a>Terms of Service</a>
     <a>Report a Problem</a>
     <a>Feature Request</a>
     <a>Legal</a>
    <a></a>
  </div>
  <div class="footer-group">
    <h3>Company</h3>
    <a>About Habbit</a>
    <a>Mission</a>
    <a>Careers</a>
    <a>Contact</a>
    <div class="social-links">
      <img class="social-link" src="/assets/images/facebook.png">
      <img class="social-link" src="/assets/images/instagram.png">
      <img class="social-link" src="/assets/images/googleplus.png">
      <img class="social-link" src="/assets/images/pinterest.png">
      <img class="social-link" src="/assets/images/share.png">
    </div>
  </div>
</div>