<mat-card
    fxLayout    
    fxLayoutGap="50px"
>
    <mat-accordion class="record-details-markers"
     >
        <mat-expansion-panel #panel
            *ngFor="let marker of myPlan.markers; let i = index"
            (click)="setActiveMarker(marker)"
            (newActiveDate)="closeExpansionPanel(panel)"   
        > 
            <mat-expansion-panel-header
            >
                <mat-panel-title>
                    {{ marker.name }}
                    <div class="spacer"></div>
                </mat-panel-title>

                <mat-panel-description 
                    *ngIf = "measurements[i] && marker.dataType === 'range'"
                >
                    {{ measurements[i].value }} / {{ marker.max }}
                </mat-panel-description>

                <mat-panel-description 
                    *ngIf = "measurements[i] && marker.dataType === 'boolean'"
                >
                    {{ measurements[i].value }}
                </mat-panel-description>
                
            </mat-expansion-panel-header>
            <app-record-entry-marker
                [marker]="marker"
                [measurement]="measurements[i]"
                (saveMeasurement)="addOrModifyMeasurement($event, panel)"
            >
            </app-record-entry-marker>
        </mat-expansion-panel>
    </mat-accordion>
    
    <app-record-marker-details
        [activeMarker]="activeMarker"    
    >
    </app-record-marker-details>
</mat-card>


  