.record-details-markers {
    width: 60%;
}
mat-expansion-panel-header{
    height: 80px !important;
}
mat-panel-title{
    font-size: 24px;
}
mat-panel-description{
    font-size: 24px;
}
mat-card{
    min-height: 300px;
    padding: 50px;
}