<mat-card
  class="available-marker-card marker-card"
  fxLayout="column"
  fxLayoutAlign="space-between"
  *ngIf="!isInPlan"
  (click)="markerCardClicked(marker)"
  [ngClass]="{'active' : active === true, 'hoverable' : hoverable === true}"
  
>
  <mat-card-title fxLayoutAlign="center">{{ marker.name }}</mat-card-title>
  
  <!--<mat-icon class="marker-icon">
    {{ marker.iconName }}
  </mat-icon>-->

  <mat-card-actions 
    fxLayoutAlign="center center"
    fxLayout="column"  
    fxLayoutGap="20px"
  >
    <div class="action-container" *ngIf="myPlan">
      <button 
      class="edit-marker-button add-marker"
        [disabled]="isInPlan" 
        type="button"
        mat-raised-button
      >
        Add
      </button>
    </div>
  </mat-card-actions>
</mat-card>