<section class="hero-section">
  <app-home-carousel [speed]="6000" ></app-home-carousel>
</section>  
<!--<section class="details-section"> 
  <blockquote>
    Depending on what they are, our habits will either make us or break us. We become what we repeatedly do
  </blockquote>
</section>-->  
<section class="details-section-2">
  <div class="top">
    <div class="left">

    </div>  
    <div class="right">
      <div class="content-module">
        <h2>Insights powered by correlation analysis </h2>
        <p>
          For each of your activities, get a detailed breakdown of how strongly it is related to each of your other activities. 
        </p>
      </div>
      <div class="content-module">
        <h2>Find meaningful links between habits </h2>
        <p>
          Do you know how strongly linked the activities in your daily life are? For instance, are you more likely to complete your yard work if you've had a nap today? Are you more likely to be anxious on days when you are traveling? Habbit can help you uncover relationships between your activities you may not know exist.
        </p>
      </div>  
    </div>  
  </div>
  <div class="bottom">
    <div class="left">
      <div class="content-module">
        <h2>Insights powered by correlation analysis </h2>
        <p>
          For each of your activities, get a detailed breakdown of how strongly it is related to each of your other activities. 
        </p>
      </div>
      <div class="content-module">
        <h2>Find meaningful links between habits </h2>
        <p>
          Do you know how strongly linked the activities in your daily life are? For instance, are you more likely to complete your yard work if you've had a nap today? Are you more likely to be anxious on days when you are traveling? Habbit can help you uncover relationships between your activities you may not know exist.
        </p>
      </div>  
    </div>  
    <div class="right">

    </div>
  </div>
</section>