<section class="hero">
  <ui-carousel [infinite]="true" [fade]="true" [speed]="1000" >
      <ui-carousel-item *ngFor="let item of ['hello', 'there']">
          {{ item }}
      </ui-carousel-item>
  </ui-carousel>
</section>

<section class="content1" fxLayout>
  <div class="left" fxLayout="column" fxLayoutAlign="space-around">
    <div fxLayout>
      <mat-icon>bubble_chart</mat-icon>
      <div class="content-wrapper">
        <h1>Experience the power of data in your daily routine</h1>
        <p>Data is tranforming the world around us and is allowing 
          people to make more informed choices about their lives. 
          Habbit enables you to start empowering your data to change 
          your life for the better. 
        </p>
      </div>
    </div>
    <div fxLayout>
      <mat-icon>timeline</mat-icon>
      <div class="content-wrapper">   
        <h1>Smart analytics help you to reach your goals</h1>
        <p>Our data system based on statistical models provides useful 
        and meaningful insights into the influences that help or hinder 
        your good or bad habits.
      </p>
      </div>  
    </div>
    <div fxLayout>
      <mat-icon>sort</mat-icon>
      <div class="content-wrapper">
        <h1>See how you're progreessing</h1>
        <p>Interact with your data on large a or small scale. 
          See patterns and trends in your daily habits and gain 
          insight in to how to improve yourself.
        </p>
      </div>
    </div>
  </div>  
  <div class="right">
      
  </div>
</section>

<section class="hero2"></section>

<section class="content1">

</section>