.hero{
    height: 100%;
    position: relative;
}
.hero .image h1{
    font-size: 3.4em;
    font-family: 'Roboto Slab';
    position: absolute;
    line-height: 1.5em;
}
.hero1 .image {
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/heroCheckmarks.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
    @media screen and (min-width: 2000px) {
        .hero1 .image{
            background-position-y: -100px;
        }
    }
    @media screen and (min-width: 2200px) {
        .hero1 .image{
            background-position-y: -250px;
        }
    }
    @media screen and (max-width: 600px) {
        .hero1 .image{
            background-position-x: -300px;
        }
    }    

.hero.hero3{
    display: flex;
}
    @media screen and (max-width: 1300px) {
        .hero.hero3{
            flex-direction: column;
        }
    }    

.hero2 .image {
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/heroDashboard.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
    @media screen and (max-width: 1145px) {
        .hero2 .image{
            background-position-x: -250px;
        }
    }
    /* @media screen and (max-width: 700px) {
        .hero2 .image{
            background-position-x: -350px;
        }
    }     */

    .hero3 .image {
        width: 65%;
        height: 100%;
        background-image: url('/assets/images/heroImac.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
        @media screen and (max-width: 1300px) {
            .hero3 .image {
                width: 100%;
                display: block;
            }    
        }    
    .hero3 .content{
        width: 35%;
        /* border-left: 4px solid #DDDDDD; */
        display: inline-block;
        padding: 25px;
        padding-top: 50px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        @media screen and (max-width: 1300px) {
            .hero3 .content {
                width: 100%;
                padding: 0px;
                flex-direction: row;
            }   
            
            .hero3 .image {
                height: 750px;
            }   
        }    
        @media screen and (max-width: 1000px) {
            .hero3 .image {
                height: 500px;
            } 
        }   
        @media screen and (max-width: 700px) {
            .hero3 .image {
                height: 300px;
            } 
        }  
        @media screen and (max-width: 500px) {
            .hero3 .content {
                flex-direction: column;
                padding-bottom: 90px;
                padding-top: 50px;
            } 
            .hero3 .image {
                height: 270px;
            } 
        }   

        .hero3 .content .content-module mat-icon{
            width: 100%;
            text-align: center;
            font-size: 65px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .hero3 .content .content-module h2{
            font-size: 24px;
            text-align: center;
            font-family: 'Raleway';
            color: #666;
            margin-bottom: 35px;
        }   
        .hero3 .content .content-module p{
            width: 60%;
            font-size: 20px;
            font-family: 'Raleway';
            text-align: center;
            margin-left: 20%;
            line-height: 30px;
            color: #777;
        }
        @media screen and (max-width: 1300px) {
            .hero3 .content .content-module{
                width: 33%;
                padding-top: 35px;
            } 
            .hero3 .content .content-module h2{
                font-size: 20px;
            }
            .hero3 .content .content-module p{
                line-height: 24px;
                font-size: 16px;
            }
        }    
        @media screen and (max-width: 1000px) {
            .hero3 .content .content-module{
                width: 33%;
                padding-top: 25px;
            } 
            .hero3 .content .content-module h2{
                font-size: 22px;
                margin-bottom: 20px;
                margin-top: 5px;
            }
            .hero3 .content .content-module p{
                line-height: 20px;
                font-size: 14px;
            }
        }    
        @media screen and (max-width: 700px) {
            .hero3 .content .content-module p{
                line-height: 16px;
                font-size: 14px;
            }
            .hero3 .content .content-module h2{
                font-size: 20px;
                margin-bottom: 15px;
                margin-top: 0px;
            }
        }    
        @media screen and (max-width: 550px) {
            .hero3 .content .content-module{
                width: 100%;
            }
            .hero3 .content .content-module mat-icon{
                font-size: 45px;
            }    
            .hero3 .content{
                padding-top: 10px;
            }
            .hero3 .content .content-module p{
                display: none;
            }
            .hero3 .content .content-module h2{
                font-size: 18px;
            }
        }    
        
  .hero1 .image h1{
    color: #EEE;
    right: 8%;
    width: 900px;
    top: 70px;
  }
    @media screen and (max-width: 1600px) {
        .hero1 .image h1{
            font-size: 3em;
        }    
    }  
    @media screen and (max-width: 1145px) {
        .hero1 .image h1{
           color: #EEE;
           width: 100%;
           text-align: center;
           padding: 40px 0px;
           top: -10px;
           left: 0px;
           background-color: rgba(255, 255, 255, 0.05);
           border-top: 5px solid rgba(155, 155, 155, 0.5);
           border-bottom: 5px solid rgba(200, 200, 200, 0.5);
           border-left: none;
           border-right: none;
           border-radius: 0px;
        }
   }    
   @media screen and (max-width: 900px) {
       .hero1 .image h1{
           font-size: 3em;
       }
   }   
   @media screen and (max-width: 700px) {
       .hero1 .image h1{
           font-size: 2.4em;
       }
   }  
   @media screen and (max-width: 500px) {
    .hero1 .image h1{
        font-size: 2.0em;
    }
}    
    
  .hero2 .image h1{
    color: white;
    left: 100px;
    top: 50px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.10);
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 35px;
    border-radius: 12px;
  }
    @media screen and (max-width: 2000px) {
        .hero2 .image h1{
            width: 450px;
        }    
    }  
    @media screen and (max-width: 1775px) {
        .hero2 .image h1{
            left: 75px;
            width: 375px;
            font-size: 3.5em;
            /* padding: 30px; */
        }    
    }  
    @media screen and (max-width: 1145px) {
         .hero2 .image h1{
            color: #444;
            width: 100%;
            text-align: center;
            padding: 40px 0px;
            top: -15px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.10);
            border-top: 5px solid rgba(155, 155, 155, 0.5);
            border-bottom: 5px solid rgba(255, 255, 255, 0.5);
            border-left: none;
            border-right: none;
            border-radius: 0px;
         }
    }    
    @media screen and (max-width: 900px) {
        .hero2 .image h1{
            font-size: 3em;
        }
    }   
    @media screen and (max-width: 700px) {
        .hero2 .image h1{
            font-size: 2.4em;
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }
    }   
    @media screen and (max-width: 500px) {
        .hero2 .image h1{
            font-size: 2.0em;
            margin-left: 20px;
            width: unset;
            margin-right: 20px;
            top: -30px;
        }
    }    

  .hero3 .image h1{
    color: #333;
  }
  .hero4 .image h1{
    color: #333;
  }

  .carousel-selectors{
    position: relative;
    width: 80px;
    left: 50%;
    top: -50px;
    margin-left: -40px;
    /* margin: -50px auto 100px auto; */
    display: flex;
    justify-content: space-between;
    opacity: 1 !important;
  }
  .selector{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #888;
  }
  .selector:hover{
      cursor: pointer;
  }
  .selector.active{
    background-color: #BBB;
  }