mat-slider{
    width: 100% !important; /* to override material design styles */
    max-width: 500px !important;
    position: relative;
}
.slider-labels{
    width: 100%;
    max-width: 500px;
    position: relative;
}
.slider-label{
    position: absolute;
    top: -15px;
}
.slider-label.min{
    left: 0px;
}
.slider-label.max{
    right: 0px;
}
mat-button-toggle-group{
    display: block !important;
}
.button-group{
    margin-top: 20px;
}
.button-group button{
    margin-right: 15px;
}