
<button mat-button
  (click)="newMonthSelected(getDateForPreviousMonth())"
>
<span class="arrow left">&#9664;</span> {{ Constants.months[previousMonth.getMonth()] }}, {{ previousMonth.getFullYear() }}
</button>  

<button class="current-month" mat-button
  disabled
>
  {{ Constants.months[activeDate.getMonth()] }}, {{ activeDate.getFullYear() }}
</button>  

<button mat-button
  (click)="newMonthSelected(getDateForNextMonth())"
>
  {{ Constants.months[nextMonth.getMonth()] }} , {{ nextMonth.getFullYear() }} <span class="arrow right">&#9658;</span>
</button>  
 