
button{
    width: 200px;
    font-size: 1.2em;
    color: #666;
    position: relative;
}

.arrow{
    position: absolute;
    font-size: 12px;
    color: #999;
    line-height: 38px;
}
.arrow.left{
    left: 5px;
}
.arrow.right{
    right: 5px;
}
@media screen and (max-width: 700px) {
    button{
        font-size: 1.1em;
        width: 150px;
    }
}    
@media screen and (max-width: 550px) {
    button{
        font-size: 1.1em;
        width: 140px;
    }
    .arrow{
        display: none;
    }
}     