<mat-card class="marker-details"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <mat-card-title>
    <!-- Details: {{ marker.name }} -->
  </mat-card-title>

  <mat-card class="marker-details-measurements-taken" fxLayout="column">
    <mat-card-title class="subtitle">
      Entries
      <app-tooltip 
          [displayText]="tooltipText.entries"
          [id]="tooltipMovingAverage"
          [type]="'description'"
      ></app-tooltip>
    </mat-card-title>

    <div class="marker-detail-wrapper" fxLayout fxLayoutAlign="flex-start">
      <div class="marker-graph-wrapper">
        <div class="marker-detail-text entries">
            You've made entries
            <br>
            for {{ daysWithMeasurements }} / {{ daysInHistory }} days
        </div>
        
        <ngx-charts-pie-chart
          [scheme]="chartOptions.daysWithMeasurements.scheme"
          [view]="chartOptions.streaks.viewDoughnut"
          [results]="results.daysWithMeasurements"
          [doughnut]="chartOptions.daysWithMeasurements.doughnut"
          [arcWidth]="chartOptions.daysWithMeasurements.arcWidth"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </div>

      <div class="marker-graph-wrapper">
          <div class="marker-detail-text streaks">
              Current Streak: {{ currentStreak }} days
              <br>
              Longest Streak: {{ longestStreak }} days
          </div>
        <ngx-charts-pie-chart
          [scheme]="chartOptions.streaks.scheme"
          [view]="chartOptions.streaks.viewDoughnut"
          [results]="results.streaks"
          [doughnut]="chartOptions.daysWithMeasurements.doughnut"
          [arcWidth]="chartOptions.daysWithMeasurements.arcWidth"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        <!-- <ngx-charts-gauge
          [scheme]="chartOptions.streaks.scheme"
          [valueFormatting]="chartOptions.streaks.valueFormatting"
          [view]="chartOptions.streaks.viewGauge"
          [results]="results.streaks"
          [min]="chartOptions.streaks.min"
          [max]="chartOptions.streaks.max"
          [units]="chartOptions.streaks.units"
          [angleSpan]="chartOptions.streaks.angleSpan"
          [startAngle]="chartOptions.streaks.startAngle"
          [showAxis]="showAxis"
          [legend]="chartOptions.streaks.legend"
          (select)="onSelect($event)">
      </ngx-charts-gauge> -->
      </div>
    </div>
    
  </mat-card>

  <mat-card class="marker-details-summary-details">
    <mat-card-title class="subtitle">
      Performance
      <app-tooltip 
          [displayText]="tooltipText.performance"
          [id]="tooltipMovingAverage"
          [type]="'description'"
      ></app-tooltip>
    </mat-card-title>
    Average entry: {{ averageEntryValue }} <span *ngIf="marker.max"> / {{ marker.max }}</span>
    <br>
    Variablity: {{ markerDetailService.computeStandardDeviation() }} / {{ markerDetailService.computeMeasurementRange() }}
  </mat-card>

  <!-- <mat-card class="marker-detail-goals">
    <mat-card-title class="subtitle">
      Goal Progress
    </mat-card-title>
  </mat-card> -->

</mat-card>