.marker-details>mat-card-title{
    text-align: center;
}
.record-entry-marker-details{
    min-height: 500px;
}
.marker-graph-wrapper{
    width: 50%;
    height: 80%;    
}
.marker-graph-wrapper:first-child{
    border-right: 1px dashed #BBB;
}
.marker-graph-wrapper:last-child{
    margin-left: 15px;
}
ngx-charts-pie-chart, ngx-charts-gauge{
    margin: 0 auto;
    width: 100%;
}
.ngx-charts{
    width: 100px;
}
.marker-details-measurements-taken{
    height: 300px;
   padding-left: 15px;
}
.marker-detail-text{
    height: 50px;
    margin-left: 20px;
}
.subtitle {
    position: relative;
    margin-left: 17px;
}