<mat-card class="marker-details"
  fxLayout="column"
  fxLayoutGap="20px"
>
  <mat-card-title>
    Details: {{ activeMarker.name }}
  </mat-card-title>

  <mat-card class="marker-details-measurements-taken" fxLayout="column">
    <mat-card-title class="subtitle">
      Days with Entries
    </mat-card-title>
    {{ daysWithMeasurements }} / {{ daysInHistory }} of your days have entries for {{ activeMarker.name }}
    <div class="marker-graph-wrapper">
      <ngx-charts-pie-chart
        [scheme]="chartOptions.daysWithMeasurements.scheme"
        [results]="results.daysWithMeasurements"
        [doughnut]="chartOptions.daysWithMeasurements.doughnut"
        [arcWidth]="chartOptions.daysWithMeasurements.arcWidth"
        (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
  </mat-card>

  <mat-card class="marker-details-summary-details">
    <mat-card-title class="subtitle">
      Entry Stats
    </mat-card-title>
    Average entry: {{ markerDetailService.computeAverageEntryValue() }}
    <br>
    Longest entry streak: {{ markerDetailService.computeLongestEntryStreak() }}
    <br>
    Variablity: {{ markerDetailService.computeStandardDeviation() }} / {{ markerDetailService.computeMeasurementRange() }}
  </mat-card>

  <mat-card class="marker-detail-goals">
    <mat-card-title class="subtitle">
      Goal Progress
    </mat-card-title>
  </mat-card>

</mat-card>