.marker-details{
    padding: 0px;
}
.marker-details>mat-card-title{
    text-align: center;
}
.record-entry-marker-details{
    min-height: 500px;
}
.marker-graph-wrapper{
    width: 50%;
    height: 80%;   
    border-left: 1px dashed #BBB; 
}
.pdf-graph-wrapper{
    width: 80%;
    height: 75%;
}
.marker-graph-wrapper:last-child{
    margin-left: 15px;
}
ngx-charts-pie-chart, ngx-charts-gauge{
    margin: 0 auto;
    width: 100%;
}
.ngx-charts{
    width: 100px;
}
.marker-details-measurements-taken{
    height: 300px;
}
.marker-details-summary-details{
    height: 300px;
    position: relative;
}
.performance-popover{
    width: 80%;
}
.marker-detail-text{
    height: 50px;
    margin-left: 20px;
}
.subtitle {
    position: relative;
    margin-left: 0px;
    margin-bottom: 15px;
}
.subtitle-subtext{
    font-size: .6em;
}
.marker-detail-wrapper{
    margin-bottom: 20px;
}
.std-deviation, .average{
    position: relative;
    width: 250px;
}
.std-deviation .tooltip-container, .average .tooltip-container{
    top: 20px;
    right: -20px;
    position: relative;
}
.pdf-graph-wrapper .tooltip-container{
    position: relative;
    top: 30px;
    right: -15px;
}
.chart-legend{
    display: none;
}
.subheader{
    display: none;
}

@media screen and (max-width: 1000px) {
    .subtitle-subtext{
        display: none;
    }
    .subheader{
        display: block;
        margin-top: 60px !important;
    }
    
} 
@media screen and (max-width: 500px) {
    .marker-detail-text{
        font-size: 0.8em;
    }

}    