/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}
.line{
  stroke-width: 3px !important;
}


.subheader{
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  margin-right: auto;
  font-size: 1.5em;
  color: #666;
  width: 500px;
  text-align: center;
  border-bottom: 2px solid #EEE;
  line-height: 1.7em;

}